__pycache__
*.pyc
pigeon/pigeon/local_settings.py
pigeon/config/main.py
pigeon/config/gunicorn.py
venv/
venv-master/
venv-beta/
pigeon/static/node_modules
OnEstPasDesPigeons.add_lcs.log
pigeon/upload/measures/
pigeon/upload/avatar/
.coverage

# Database
*.db

# Git merge
*.orig
*_BASE_*
*_REMOTE_*
*_BACKUP_*
*_LOCAL_*

# Vim
*.swp
