{% extends 'weights/layout.html' %}
{% load staticfiles %}
{% block content %}
<br />
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#who" aria-controls="who"
         role="tab" data-toggle="tab">
        Who are we?
      </a>
    </li>
    <li role="presentation">
      <a href="#privacy" aria-controls="privacy"
         role="tab" data-toggle="tab">
        Privacy
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="who">
      <h1>Who are we?</h1>
      <div class="col-lg-12">
        <div class="col-lg-4">
          <img alt="logo" title="Fabien"
               src="{% static 'images/fabien.png' %}" />
        </div>
        <div class="col-lg-8">
          <h2>Fabien Bourrel</h2>
          <ul>
            <li><a href="https://github.com/Far3t">Github</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-4">
          <img alt="logo" title="Benoît"
               src="{% static 'images/benoit.png' %}" />
        </div>
        <div class="col-lg-8">
          <h2>Benoît Latinier</h2>
          <ul>
            <li><a href="https://github.com/blatinier">Github</a></li>
            <li><a href="https://stackoverflow.com/users/1450754/beno%c3%aet-latinier">StackOverflow</li>
            <li><a href="https://www.linkedin.com/in/beno%C3%AEt-latinier-53132717/">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="privacy">
      <h1>User Privacy</h1>
      <p>All personnal information you put on this website is your
      full and only property. You can require editing/deleting these
      information at any time by contacting us on
      <a href="https://github.com/blatinier/onestpasdespigeons/issues/new">Github</a>.</p>
    <div>
  </div>
</div>
{% endblock %}
