{% extends 'weights/layout.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="pigeon-title">{{ title }}</h1>
  </div>
  <form enctype="multipart/form-data" method="post"
        autocomplete="off" class="form-contact">
    {% csrf_token %}
    {% if edit_mode %}
      {% bootstrap_field add_measure_form.product form_group_class="form-group select-product" layout="horizontal" field_class="col-md-9 input-form-space select2-field" show_help=False %}
    {% else %}
    <div class="row">
      <div class="form-group">
        <label class="col-md-3 control-label" for="id_product">Product</label>
        <div class="col-md-9">
          <div class="input-group input-form-space select-product">
            <select name="product" data-ajax--type="GET" data-ajax--url="/en/product/select-json"
                    class="form-control django-select2 django-select2-heavy select2-field"
                    data-field_id="{{ add_measure_form.product.field_id }}"
                    data-placeholder="" data-allow-clear="true" id="id_product">
            </select>
            <span class="input-group-btn">
              <a class="btn btn-default connect-btn" id="switch-create">
                <i class="fa fa-plus white"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if not edit_mode %}
    <div id="product-form" class="hidden panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <h4>Add a product</h4>
          </div>
          <div class="col-lg-6">
            <a class="btn btn-default connect-btn pull-right" id="switch-select">
              <i class="fa fa-exchange white"></i>
            </a>
          </div>
        </div>
        {% bootstrap_field add_product_form.code layout="horizontal" show_help=False %}
        {% bootstrap_field add_product_form.product_name layout="horizontal" show_help=False %}
        {% bootstrap_field add_product_form.brands layout="horizontal" show_help=False %}
      </div>
    </div>
    {% endif %}
    <div class="row">
      {% bootstrap_field add_measure_form.unit layout="horizontal" field_class="col-md-1 input-form-space" show_help=False %}
    </div>
    <div class="row">
      {% bootstrap_field add_measure_form.package_weight layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
    </div>
    <div class="row">
      {% bootstrap_field add_measure_form.measured_weight layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
    </div>
    <div class="row">
      {% bootstrap_field add_measure_form.measure_image layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
    </div>
    <div class="col-md-12 text-center margin-top-20">
      {% bootstrap_button btn_text name="add" button_type="submit" button_class="connect-btn btn-primary col-lg-offset-2 col-lg-3 col-xs-12" size="large" %}
      {% if not edit_mode %}
        {% bootstrap_button btn_continue_text name="add_and_continue" button_type="submit" button_class="connect-btn btn-primary col-lg-offset-1 col-lg-3 col-xs-12 margin-top-xs-20" size="large" %}
      {% endif %}
    </div>
  </form>
</div>
{% if not edit_mode %}
<script type="text/javascript">
$('#switch-create').on('click', function(event){
  $('#product-form').removeClass('hidden');
  $('.select-product').addClass('hidden');
});
$('#switch-select').on('click', function(event){
  $('#product-form').addClass('hidden');
  $('.select-product').removeClass('hidden');
});
{% if page_mode_create %}
  $('#product-form').removeClass('hidden');
  $('.select-product').addClass('hidden');
{% endif %}
$('.select2-field').select2({
  ajax: {
    url: "{% url 'django_select2-json' %}",
    dataType: 'json',
    delay: 500,
    templateSelection: function (data, container) {
      // Add custom attributes to the <option> tag for the selected option
      $(data.element).attr('data-weight', data.weight);
      return data.text;
    }
  }
});
$('.select2-field').on('select2:select', function (e) {
  var weight = $('.select2-field').find(':selected').data().data.weight;
  if (!$('#id_package_weight').val()) {
    $('#id_package_weight').val(weight);
    $('#id_unit').val('g');
  }
});
</script>
{% endif %}
{% endblock %}
