{% extends 'weights/layout.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row offset-from-menu">
  <div class="row">
    <h1 class="col-lg-12 text-center">{{ title }}</h1>
  </div>
  <form enctype="multipart/form-data" method="post"
        autocomplete="off" class="form-contact">
    {% csrf_token %}
    {{ add_measure_form.media.js }}
    {{ add_measure_form.media.css }}
    {% if edit_mode %}
      {% bootstrap_field add_measure_form.product form_group_class="form-group select-product" layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
    {% else %}
    <div class="row">
      {% bootstrap_field add_measure_form.product form_group_class="form-group select-product" layout="horizontal" field_class="col-md-9 input-form-space" show_help=False addon_after='<a class="btn btn-default bg-green" id="switch-create"><i class="fa fa-plus white"></i></a>' addon_after_class='input-group-btn' %}
    </div>
    {% endif %}

    {% if not edit_mode %}
    <div id="product-form" class="hidden panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <h4>Add a product</h4>
          </div>
          <div class="col-lg-6">
            <a class="btn btn-default bg-green pull-right" id="switch-select">
              <i class="fa fa-exchange white"></i>
            </a>
          </div>
        </div>
        {% bootstrap_field add_product_form.code layout="horizontal" show_help=False %}
        {% bootstrap_field add_product_form.product_name layout="horizontal" show_help=False %}
        {% bootstrap_field add_product_form.brands layout="horizontal" show_help=False %}
      </div>
    </div>
    {% endif %}
    <div class="row">
      {% bootstrap_field add_measure_form.unit layout="horizontal" field_class="col-md-1 input-form-space" show_help=False %}
    </div>
    <div class="row">
      {% bootstrap_field add_measure_form.package_weight layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
    </div>
    <div class="row">
      {% bootstrap_field add_measure_form.measured_weight layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
    </div>
    <div class="row">
      {% bootstrap_field add_measure_form.measure_image layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
    </div>
    <div class="col-md-12 text-center">
      {% bootstrap_button btn_text button_type="submit" button_class="btn-primary" size="large" %}
    </div>
  </form>
</div>
{% if not edit_mode %}
<script type="text/javascript">
$('#switch-create').on('click', function(event){
  $('#product-form').removeClass('hidden');
  $('.select-product').addClass('hidden');
});
$('#switch-select').on('click', function(event){
  $('#product-form').addClass('hidden');
  $('.select-product').removeClass('hidden');
});
{% if page_mode_create %}
  $('#product-form').removeClass('hidden');
  $('.select-product').addClass('hidden');
{% endif %}
</script>
{% endif %}
{% endblock %}
