{% extends 'weights/layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% load bootstrap3 %}
{% block content %}
<div class="row offset-from-menu">
  <h1 class="col-lg-12 text-center">{% trans "All measures" %}</h1>
</div>
<div class="row">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel_filter">
      <a data-toggle="collapse" data-target="#collapse_filter"
         href="#collapse_filter" class="btn btn-default">
        Filters <i class="fa fa-caret-down"></i>
      </a>
      <div id="collapse_filter" class="panel-collapse collapse collapsed">
        <div class="panel-body">
          <form action="" method="get">
            {% bootstrap_form filter.form layout="horizontal" %}
            <input class="btn btn-info" type="submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <a href="{% url 'list_measures' %}?order_by=user&sort_order={% if order_by == 'user' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
              {% trans "Contributed by" %}
              {% if order_by == "user" %}
                {% if sort_order == 'asc' %}
                  <i class="fa fa-caret-up"></i>
                {% else %}
                  <i class="fa fa-caret-down"></i>
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th>{% trans "Image" %}</th>
          <th>
            <a href="{% url 'list_measures' %}?order_by=product&sort_order={% if order_by == 'product' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
              {% trans "Product" %}
              {% if order_by == "product" %}
                {% if sort_order == 'asc' %}
                  <i class="fa fa-caret-up"></i>
                {% else %}
                  <i class="fa fa-caret-down"></i>
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th>
            <a href="{% url 'list_measures' %}?order_by=package_weight&sort_order={% if order_by == 'package_weight' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
            {% trans "Package weight" %}
              {% if order_by == "package_weight" %}
                {% if sort_order == 'asc' %}
                  <i class="fa fa-caret-up"></i>
                {% else %}
                  <i class="fa fa-caret-down"></i>
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th>
            <a href="{% url 'list_measures' %}?order_by=measured_weight&sort_order={% if order_by == 'measured_weight' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
            {% trans "Measured weight" %}
              {% if order_by == "measured_weight" %}
                {% if sort_order == 'asc' %}
                  <i class="fa fa-caret-up"></i>
                {% else %}
                  <i class="fa fa-caret-down"></i>
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th>{% trans "Diff" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for measure in measures %}
          <tr>
            <td class="list_product">{{ measure.user.user.username }}</td>
            <td>
              {% if measure.measure_image %}
                <a href="{{measure.measure_image.url}}" data-toggle="lightbox"
                   data-footer="{{ measure.product }} - {{ measure.measured_weight }} VS {{ measure.package_weight }}">
                  <img class="product_img" src="{{measure.measure_image.url}}" alt="" />
                </a>
              {% else %}
                <a href="{% static 'images/red_scales.png' %}" data-toggle="lightbox"
                   data-footer="{{ measure.product }} - {{ measure.measured_weight }} VS {{ measure.package_weight }}">
                  <img class="product_img" src="{% static 'images/red_scales.png' %}" alt="" />
                </a>
              {% endif %}
            </td>
            <td class="list_product">{{ measure.product }}</td>
            <td class="list_product">{{ measure.package_weight|floatformat:"1" }} {{ measure.unit }}</td>
            <td class="list_product">{{ measure.measured_weight|floatformat:"1" }} {{ measure.unit }}</td>
            <td class="list_product {% if measure.diff > 0 %}green{% else %}red{% endif %}">{{ measure.percent_diff|floatformat:"1" }} %</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% bootstrap_paginate measures %}
</div>
{% endblock %}

