{% extends 'weights/layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="pigeon-title">{% trans "All measures" %}</h1>
  </div>
  <div class="row">
    <a data-toggle="collapse" data-target="#collapse_filter"
       class="btn btn-default">
      {% trans "Filters" %} <i class="fa fa-caret-down"></i>
    </a>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" id="panel_filter">
        <div id="collapse_filter" class="panel-collapse collapse collapsed">
          <div class="panel-body filter-form-products">
            <form action="" method="get">
              {% bootstrap_form filter.form layout="horizontal" %}
              <input class="connect-btn btn btn-info" type="submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <a href="{% url 'list_measures' %}?order_by=created_at&sort_order={% if order_by == 'created_at' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
                {% trans "Date" %}
                {% if order_by == "created_at" %}
                  {% if sort_order == 'asc' %}
                    <i class="fa fa-caret-up"></i>
                  {% else %}
                    <i class="fa fa-caret-down"></i>
                  {% endif %}
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'list_measures' %}?order_by=user&sort_order={% if order_by == 'user' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
                {% trans "Contributed by" %}
                {% if order_by == "user" %}
                  {% if sort_order == 'asc' %}
                    <i class="fa fa-caret-up"></i>
                  {% else %}
                    <i class="fa fa-caret-down"></i>
                  {% endif %}
                {% endif %}
              </a>
            </th>
            <th>{% trans "Image" %}</th>
            <th>
              <a href="{% url 'list_measures' %}?order_by=product&sort_order={% if order_by == 'product' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
                {% trans "Product" %}
                {% if order_by == "product" %}
                  {% if sort_order == 'asc' %}
                    <i class="fa fa-caret-up"></i>
                  {% else %}
                    <i class="fa fa-caret-down"></i>
                  {% endif %}
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'list_measures' %}?order_by=package_weight&sort_order={% if order_by == 'package_weight' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
              {% trans "Package weight" %}
                {% if order_by == "package_weight" %}
                  {% if sort_order == 'asc' %}
                    <i class="fa fa-caret-up"></i>
                  {% else %}
                    <i class="fa fa-caret-down"></i>
                  {% endif %}
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'list_measures' %}?order_by=measured_weight&sort_order={% if order_by == 'measured_weight' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&{{get_args}}">
              {% trans "Measured weight" %}
                {% if order_by == "measured_weight" %}
                  {% if sort_order == 'asc' %}
                    <i class="fa fa-caret-up"></i>
                  {% else %}
                    <i class="fa fa-caret-down"></i>
                  {% endif %}
                {% endif %}
              </a>
            </th>
            <th>{% trans "Diff" %}</th>
            <th>{% trans "Detail" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for measure in measures %}
            <tr>
              <td class="list_product">{{ measure.created_at|date:"d/m/Y" }}</td>
              <td class="list_product">
                <a href="{% url 'user_page' measure.user.id measure.user.slug%}">
                  {{ measure.user.pseudo }}
                </a>
              </td>
              <td>
                {% if measure.measure_image %}
                  <a href="{{measure.measure_image.url}}" data-toggle="lightbox"
                     data-footer="{{ measure.product }} - {{ measure.measured_weight|floatformat:"0" }} {{ measure.unit }} VS {{ measure.package_weight|floatformat:"0" }} {{ measure.unit }}">
                    <img class="product_img" src="{{measure.measure_image.url}}" alt="" />
                  </a>
                {% else %}
                  <img class="product_img" src="{% static 'images/red_scales.png' %}" alt="" />
                {% endif %}
              </td>
              <td class="list_product">
                <a href="{% url 'product_page' measure.product.code %}">
                  {{ measure.product.product_name }}
                  <span class="brand">
                    {{ measure.product.brands }}
                  </span>
                </a>
              </td>
              <td class="list_product">{{ measure.package_weight|floatformat:"0" }} {{ measure.unit }}</td>
              <td class="list_product">{{ measure.measured_weight|floatformat:"0" }} {{ measure.unit }}</td>
              <td class="list_product {% if measure.diff > 0 %}green{% else %}pigeon-color{% endif %} big"><strong>{{ measure.percent_diff|floatformat:"1" }}&nbsp;%</strong></td>
              <td class="list_product"><a class="btn btn-default" href="{% url "measure_page" measure.id %}"><i class="fa fa-eye"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% bootstrap_paginate measures %}
  </div>
</div>
{% endblock %}

