{% extends 'weights/layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="row offset-from-menu">
  <h1 class="col-lg-12 text-center">{% trans "How to contribute" %}</h1>

  <div class="col-lg-12">
    <div class="col-lg-2">
      <img alt="logo" title="{% trans 'Alfred le pigeon' %}"
           src="{% static 'images/pigeon.svg' %}" />
    </div>
    <div class="col-lg-10">
      <h2>{% trans "Weight!" %}</h2>
      <div class="contribute-text">
        {% blocktrans trimmed %}
        The first and most important contribution you could
        make is to weight your groceries and upload the result
        right here! It the whole lot of measurements made by you
        which make this website what it is and allow us to create
        pretty graphs helping the future you to make your choices
        wisely in the supermarket.
        {% endblocktrans %}
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="col-lg-10">
      <h2>{% trans "On Github" %}</h2>
      <div class="contribute-text">
        {% blocktrans trimmed %}
        You like this website and found a bug?
        You're missing a feature?
        You think we could improve some existing feature?
        Hop on our <a href="//github.com/blatinier/onestpasdespigeons/issues">Github repository</a> and fill a ticket with your ideas! (And even code it if you feel like it!!)
        {% endblocktrans %}
      </div>
    </div>
    <div class="col-lg-2">
      <img class="col-lg-12" alt="Github" title="Octocat"
           src="{% static 'images/Octocat.png' %}" />
    </div>
  </div>

  <div class="col-lg-12 margin-top-50">
    <div class="col-lg-2">
      <img class="col-lg-10 padding-top-20" alt="POEditor" title="POEditor"
           src="{% static 'images/poeditor.png' %}" />
    </div>
    <div class="col-lg-10">
      <h2>{% trans "Translate" %}</h2>
      <div class="contribute-text">
        {% blocktrans trimmed %}
        You found a translation error?
        You would like to see this website translated in another language?
        Go on our <a href="https://poeditor.com/join/project/bKxuAMSSBx">POEditor project</a> and contribute translations!
        {% endblocktrans %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
