{% extends 'weights/layout_home.html' %}
{% load i18n %}
{% load l10n %}
{% block container %}
  <div class="jumbotron">
    <div class="container">
      <h1>
        {% comment %}Translators:
        De combien se fait-on pigeonner ?
        {% endcomment %}
        {% blocktrans trimmed %}
        How much are we taken for a ride?
        {% endblocktrans %}
      </h1>
      <p>
        {% comment %}Translators:
        Répondre à cette question est l'objectif de ce petit site.
        Tout commence lorsqu'une connaissance nous lance
        « J'ai pesé mon pâquet de 1kg de riz, bah il faisait 960g ! ».
        Et l'expérience s'est réitérée plusieurs fois.
        Pourquoi alors ne pas créer une base de donnée de toutes ces mesures ?
        Et découvrir à quel point on se fait pigeonner ?
        {% endcomment %}
        {% blocktrans trimmed %}
        Answering this question is the objective of this small website.
        Everything starts when a friend tells us:
        "I weight my 1kg packet of rice, it weighted 960g!"
        The experiment could be reproduced several times.
        Why not create a database of all these weights and find out
        how much we are taken for a ride?
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="row text-center">
    <h1>
      {% blocktrans trimmed %}
      Last measures
      {% endblocktrans %}
    </h1>
    <br />
    <div class="col-lg-1"></div>
    {% for measure in last_measures %}
      <div class="col-lg-2 text-center">
        <div class="product_img_big">
          <div><img src="{{measure.measure_image.url}}" /></div>
        </div>
        <span class="{% if measure.percent_diff < 0 %}red{% else %}green{% endif %}">
          {% if measure.percent_diff > 0 %}+{% endif %}
          {{measure.percent_diff}} %
        </span><br />
        {% blocktrans %}Added by {{measure.user.user.username}}{% endblocktrans %}<br/>
        {{measure.created_at|localize}}
      </div>
    {% endfor %}
  </div>
{% endblock %}
