{% extends 'weights/layout_home.html' %}
{% block container %}
  <div class="jumbotron">
    <div class="container">
      <h1>De combien se fait-on pigeonner ?</h1>
      <p>Répondre à cette question est l'objectif de ce petit site.
        Tout commence lorsqu'une connaissance nous lance
        « J'ai pesé mon pâquet de 1kg de riz, bah il faisait 960g ! ».
        Et l'expérience s'est réitérée plusieurs fois.
        Pourquoi alors ne pas créer une base de donnée de toutes ces mesures ?
        Et découvrir à quel point on se fait pigeonner ?</p>
    </div>
  </div>
  <div class="row">

  </div>
{% endblock %}
