{% extends 'weights/layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="row offset-from-menu">
  <h1 class="col-lg-12 text-center">{% trans "My measures" %}</h1>
  <a href="{% url 'add_measure' %}" class="btn btn-success">
    {% trans "Add a new measure" %}
  </a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Image" %}</th>
        <th>{% trans "Product" %}</th>
        <th>{% trans "Package weight" %}</th>
        <th>{% trans "Measured weight" %}</th>
        <th>{% trans "Diff" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for measure in measures %}
        <tr>
          <td>
            <a href="{{measure.measure_image.url}}" data-toggle="lightbox"
               data-footer="{{ measure.product }} - {{ measure.measured_weight }} VS {{ measure.package_weight }}">
              <img class="product_img" src="{{measure.measure_image.url}}" alt="" />
            </a>
          </td>
          <td class="list_product">{{ measure.product }}</td>
          <td class="list_product">{{ measure.package_weight }}</td>
          <td class="list_product">{{ measure.measured_weight }}</td>
          <td class="list_product {% if measure.diff > 0 %}green{% else %}red{% endif %}">{{ measure.percent_diff|floatformat:"1" }} %</td>
          <td class="list_product">
            <a class="btn btn-default" href="{% url 'edit_measure' measure_id=measure.id %}"><i class="fa fa-2x fa-pencil"></i></a>
            <a class="btn btn-default confirm-del-measure" data-href="{% url 'delete_measure' measure_id=measure.id %}"><i class="fa fa-2x fa-times"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript">
$('.confirm-del-measure').click(function(e) {
  console.log("prout");
  e.preventDefault();
  var linkURL = $(this).attr("data-href");
  swal({
    title: "{% trans "Are you sure?" %}",
    text: "{% trans "You won't be able to recover that measure later." %}",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "{% trans "Yes, delete it!" %}",
    closeOnConfirm: false
  }, function() {
    window.location.href = linkURL;
  });
});
</script>
{% endblock %}
