{% extends 'weights/layout.html' %}
{% load i18n %}
{% load jchart %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="pigeon-title">{% trans "My measures" %}</h1>
    <div class="col-xs-12 col-lg-12 margin-top-20">
      <h4>{% trans "Activity though the year (by week)" %}</h4>
      <div class="activity-graph-container">
        <div class="activity-graph">
          {% render_chart measures_by_week user.pigeonuser %}
        </div>
      </div>
    </div>
    <a href="{% url 'add_measure' %}" class="btn btn-success margin-top-20">
      {% trans "Add a new measure" %}
    </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Image" %}</th>
          <th>{% trans "Product" %}</th>
          <th>{% trans "Package weight" %}</th>
          <th>{% trans "Measured weight" %}</th>
          <th>{% trans "Diff" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for measure in measures %}
          <tr>
            <td class="list_product">{{ measure.created_at|date:"d/m/Y" }}</td>
            <td>
              {% if measure.measure_image %}
                <a href="{{measure.measure_image.url}}" data-toggle="lightbox"
                   data-footer="{{ measure.product }} - {{ measure.measured_weight|floatformat:"0" }} {{ measure.unit }} VS {{ measure.package_weigh|floatformat:"0" }} {{ measure.unit }}">
                  <img class="product_img" src="{{measure.measure_image.url}}" alt="" />
                </a>
              {% else %}
                <img class="product_img" src="{% static 'images/red_scales.png' %}" alt="" />
              {% endif %}
            </td>
            <td class="list_product">{{ measure.product.product_name }} <span class="brand">{{ measure.product.brands }}</span></td>
            <td class="list_product">{{ measure.package_weight|floatformat:"0" }} {{ measure.unit }}</td>
            <td class="list_product">{{ measure.measured_weight|floatformat:"0" }} {{ measure.unit }}</td>
            <td class="list_product {% if measure.diff > 0 %}green{% else %}pigeon-color{% endif %} big"><strong>{{ measure.percent_diff|floatformat:"1" }} %</strong></td>
            <td class="list_product">
              <a class="btn btn-default" href="{% url 'edit_measure' measure_id=measure.id %}"><i class="fa fa-2x fa-pencil"></i></a>
              <a class="btn btn-default confirm-del-measure" data-href="{% url 'delete_measure' measure_id=measure.id %}"><i class="fa fa-2x fa-times"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
$('.confirm-del-measure').click(function(e) {
  e.preventDefault();
  var linkURL = $(this).attr("data-href");
  swal({
    title: "{% trans "Are you sure?" %}",
    text: "{% trans "You won't be able to recover that measure later." %}",
    icon: "warning",
    button: {
      text: "{% trans "Yes, delete it!" %}",
      className: "sweet-confirm-button",
      closeModal: false,
    },
  }).then((value) => {
    window.location.href = linkURL;
  });
});
</script>
{% endblock %}
