{% extends 'weights/layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<br />
<h1 class="margin-bottom-20 pigeon-title">{% trans "User Privacy" %}</h1>
<div class="col-lg-10 col-lg-offset-1">
  <p class="justify">{% trans "All personnal information you put on this website is your full and only property. " %}
  {% trans "You can require editing/deleting these information at any time by contacting us on the <a href='/contact'>contact page<a>" %}.</p>
  <br />
  <img class="padding-left-0 col-lg-6" alt="" src="{% static 'images/privacy01.jpg' %}" />
  <img class="padding-right-0 col-lg-6" alt="" src="{% static 'images/privacy02.jpg' %}" />
</div>
{% endblock %}
