{% extends 'weights/layout.html' %}
{% load i18n %}
{% load jchart %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% load bootstrap3 %}
{% block after_body %}
{% include "weights/social_js.html" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="pigeon-title">{{ viewed_user.pseudo }}</h1>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <img src="{{ viewed_user.avatar_or_anon }}" alt=""
           class="full-width" />
    </div>
    <div class="col-xs-12 col-lg-9 margin-top-50">
      <h4>{% trans "Activity though the year (by week)" %}</h4>
      <div class="activity-graph-container">
        <div class="activity-graph">
          {% render_chart measures_by_week viewed_user %}
        </div>
      </div>
    </div>
    <div class="col-lg-9 margin-top-20">
      <div class="fb-share-button"
           data-href="https://www.rendezmoimesplumes.com/product/{{ product.code }}"
           data-layout="button_count" data-size="small"
           data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.rendezmoimesplumes.com%2Fproduct%2F{{ product.code }}&amp;src=sdkpreparse">Share</a>
      </div>
      <div style="display: inline-block;">
        <div style="position: absolute; top: 0;">
          <a class="twitter-share-button"
             href="https://twitter.com/intent/tweet">
            Tweet</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-top-50">
    <h4>{% trans "Last measures added" %}</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Image" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Package weight" %}</th>
            <th>{% trans "Measured weight" %}</th>
            <th>{% trans "Diff" %}</th>
            <th>{% trans "See" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for measure in measures %}
            <tr>
              <td class="list_product">{{ measure.created_at|date:"d/m/Y" }}</td>
              <td>
                {% if measure.measure_image %}
                  <a href="/{{measure.measure_image.url}}" data-toggle="lightbox"
                     data-footer="{{ measure.product }} - {{ measure.measured_weight|floatformat:"0" }} {{ measure.unit }} VS {{ measure.package_weight|floatformat:"0" }} {{ measure.unit }}">
                    <img class="product_img" src="/{{measure.measure_image.url}}" alt="" />
                  </a>
                {% else %}
                  <img class="product_img" src="{% static 'images/red_scales.png' %}" alt="" />
                {% endif %}
              </td>
              <td class="list_product">{{ measure.product.product_name }} <span class="brand">{{ measure.product.brands }}</span></td>
              <td class="list_product">{{ measure.package_weight|floatformat:"0" }} {{ measure.unit }}</td>
              <td class="list_product">{{ measure.measured_weight|floatformat:"0" }} {{ measure.unit }}</td>
              <td class="list_product {% if measure.diff > 0 %}green{% else %}pigeon-color{% endif %} big"><strong>{{ measure.percent_diff|floatformat:"1" }} %</strong></td>
              <td class="list_product"><a class="btn btn-default" href="{% url "measure_page" measure.id %}"><i class="fa fa-eye"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% bootstrap_paginate measures %}
  </div>
</div>
{% endblock %}

