{% extends 'weights/layout.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
<div class="row offset-from-menu">
  <div class="row">
    <h1 class="col-lg-12 text-center">{% trans "Manage my account" %}</h1>
  </div>
  {% if message %}
    <div class="alert alert-{{message.status}} text-center">
      {{ message.text }}
    </div>
  {% endif %}
  <div class="row">
    <form method="post" autocomplete="off" class="form-contact">
      {% csrf_token %}
      {% for field in user_form %}
        {% bootstrap_field field layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
      {% endfor %}
      {% for field in profile_form %}
        {% bootstrap_field field layout="horizontal" field_class="col-md-9 input-form-space" show_help=False %}
      {% endfor %}
      <div class="col-md-12 text-center">
        {% bootstrap_button update_text button_type="submit" button_class="btn-primary" size="large" %}
      </div>
    </form>
  </div>
  <div class="col-lg-12">
    <h2>{% trans "Danger zone!" %}</h2>
    <a href="{% url 'delete_account' %}" class="btn btn-danger"
       onClick="return confirm(\"{% trans "Are you sure you want to deactivate your account?" %}\");">
      {% trans "Deactivate my account" %}
    </a>
  </div>
</div>
{% endblock %}

