body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#logo {
  float: left;
  height: 50px;
}

.offset-from-menu {
  padding-top: 50px;
}

.contribute-text {
  font-size: 1.3em;
}

.input-form-space {
  padding-bottom: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.padding-top-20 {
  padding-top: 20px;
}

.logo-container {
  height: 100px;
  min-width: 100px;
  max-width: auto;
  float: left;
}

.logo-container > img {
  max-height: 100px;
  width: auto;
}

.green {
  color: #0f0;
}

.red {
  color: #f00;
}

.product_img_big {
  margin: auto;
  overflow: hidden;
  width: 80%;
}

.product_img_big > div {
  height: 0;
  padding-bottom: 100%;
}

.product_img_big img {
  width: 100%;
}

.product_img {
  width: 50px;
}

.table > tbody > tr > td.list_product {
  line-height: 50px;
}
