body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#logo {
  float: left;
  height: 50px;
}

.offset-from-menu {
  padding-top: 50px;
}

.contribute-text {
  font-size: 1.3em;
}

.input-form-space {
  padding-bottom: 5px;
}

.logo-container {
  height: 100px;
  min-width: 100px;
  max-width: auto;
  float: left;
}

.logo-container > img {
  max-height: 100px;
  width: auto;
}
