{% extends 'weights/layout.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
<div class="row">
  <h1 class="text-center col-lg-12 pigeon-font pigeon-color margin-bottom-20">{% trans "Register" %}</h1>
  <form method="post" autocomplete="off" class="form-contact col-lg-offset-2">
    {% csrf_token %}
    {% for field in register_form %}
      {% if field.name in 'language,country,avatar'|slice:',' %}
          {% bootstrap_field field layout="horizontal" form_group_class="col-md-12" field_class="col-md-9 input-form-space" show_help=False label_class="register-label col-md-1" %}
      {% else %}
          {% bootstrap_field field layout="horizontal" form_group_class="col-md-12" field_class="col-md-9 input-form-space" show_help=False show_label=False %}
      {% endif %}
    {% endfor %}
    <div class="col-md-9 text-center">
      {% bootstrap_button "Register" button_type="submit" button_class="btn-primary connect-btn" size="large" %}
    </div>
  </form>
</div>
{% endblock %}
